---
import { getCollection } from "astro:content";
import Container from "@/components/primitives/Container.astro";
import Link from "@/components/primitives/Link.astro";
import { getLocalizedSettings } from "@/lib/localization-helpers";

const { footer, contacts } = getLocalizedSettings("en");

const pages = await getCollection("pages");

// get top 6 pages which are informational pages
const topInfoPages = pages
.filter((page) =>
  page.data.type === "informational" &&
  page.slug.startsWith("en/")
)
.map((page) => {
  const basePath = page.slug.split("/").pop();
  return {
    ...page,
    slug: `/${basePath}`,
  };
})
.slice(0, 6);
---

<div
	class="flex-col text-sm font-medium justify-end pb-10 px-4 lg:px-20 pt-16 flex bg-black"
>
	<Container>
		<div class="items-center flex-col w-full">
			<div class="items-center flex-col justify-center flex text-white">
				<h3
					class="text-4xl lg:text-6xl leading-normal text-center max-w-4xl"
					set:html={footer.title}
				/>
				<div class="mt-8">
					{
						footer?.buttons?.map(({ text, url }) => (
							<Link
								href={url}
								style="buttonLight"
								icon="iconamoon:arrow-top-right-1-thin"
							>
								{text}
							</Link>
						))
					}
				</div>
			</div>
			<div
				class="auto-cols-fr grid-cols-1 lg:grid-cols-[1.8fr_.4fr_1fr] grid-rows-[auto] grid mt-16 gap-10"
			>
				<div class="col-span-1 row-span-1">

					<div class="mt-10">
						<div
							class="auto-cols-fr grid-cols-[1fr_1fr_1fr] grid-rows-[auto] grid gap-[1.88rem]"
						>
							<div class="col-span-1 row-span-1">
								<div
									class="items-start flex-col flex gap-[0.63rem]"
								>
									<p
										class="text-white border-b-2 text-lg pb-1 mb-3 border-white border-solid"
									>
										Navigation
									</p>
									<ul
										class="text-white/[0.65] mb-3 list-none"
									>
										{
											topInfoPages.map(
												({ data: { title }, slug }) => (
													<li>
														<a href={slug}>
															{title}
														</a>
													</li>
												),
											)
										}
									</ul>
								</div>
							</div>


						</div>
					</div>
				</div>
				<div class="col-span-1 row-span-1"></div>
				<div class="col-span-1 row-span-1 text-white">

					<div class="mt-10 text-lg">
						<div class="items-start flex-col flex">
							<a
								class="border-b-2 pb-1 mb-3 border-white border-solid"
								href={`tel:${contacts.phone}`}
							>
								{contacts.phone}
							</a>
							<a
								class="border-b-2 pb-1 mb-3 border-white border-solid"
								href={`mailto:${contacts.mail}`}
							>
								{contacts.mail}
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-16">
				<div class="items-center justify-between flex gap-4">
					<p class="text-white/[0.78] text-base">
						{footer.copyright}
					</p>

				</div>
			</div>
		</div>
	</Container>
</div>

<slot />
